@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: auto;
}

.navbar a {
  font-family: "Fredoka One", cursive;
  color: #077348;
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  background: #fff;
  
}

.navbrand {
  width: 50px;
  margin-left: 20px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 10px;
}

.navbar ul li a {
  padding: 2px;
}

.navbar ul li a:hover {
  border-bottom: 2px solid #28c19a;
}

.navbar ul.nav-menu {
  flex: 1;
  margin-left: 70%;
}

.background-green {
  width: 100%;
  height: 600px;
  background: #edeeee;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.column1 {
  margin-top: 20px;
  grid-column: 1;
  grid-row: 1 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column2 {
  margin-top: 20px;
  grid-column: 2;
  grid-row: 1 / 5;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.columns1 {
  grid-column: 1;
  width: 80%;
}
.columns2 {
  width: 80%;
  grid-column: 2;
  align-items: center;
  margin-left: -100px;
}
.column3 {
  width: 65%;
  grid-column: 3;
  align-items: center;
  margin-left: -150px;
}
.circulo {
  clip-path: circle(40% at center);
}
.titulo {
  font-family: "Fredoka One", cursive;
  font-size: 7em;
  color: #28c19a;
}
.text-green {
  font-family: "Fira Sans", sans-serif;
  color: #7da686;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}
.alig {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.boton {
  width: 30%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Fira Sans", sans-serif;
  background: #28c19a;

  border-radius: 20px;
}
.boton3 {
  width: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Fira Sans", sans-serif;
  background: #28c19a;
}
.boton3 a {
  text-decoration: none;
}
.boton3 a h3 {
  color: #fff;
}
.boton a h3 {
  color: #fff;
}
.boton:hover {
  background: #fff;
}
.boton a h3:hover {
  color: #28c19a;
}
.boton a {
  text-decoration: none;
}

.fondo-verde {
  height: auto;
  background: #28c19a;
}

.texto {
  color: #fff;
  font-size: 3em;
  text-align: center;
  font-family: "Fredoka One", cursive;
}
.parrafo {
  color: #fff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
}
.fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
}
.one {
  grid-column: 1;
  text-align: center;
}
.two {
  grid-column: 2;

  text-align: center;
}
.three {
  grid-column: 3;
  text-align: center;
}
.sub {
  color: #fff;
  font-family: "Fredoka One", cursive;
  font-size: 2em;
  text-align: center;
}
.espacio {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.parrafo2 {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
}

.demo-wrap {
  overflow: hidden;
  position: relative;
  height: 1000px;
}

.demo-bg {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 900px;
}

.demo-content {
  position: relative;
}

.texto-verde {
  color: #28c19a;
  font-size: 4em;
  text-align: center;
  font-family: "Fredoka One", cursive;
}
.parrafo3 {
  text-align: center;
  color: #28c19a;
  font-size: 26px;
  font-family: "Fira Sans", sans-serif;
}
.parrafo4 {
  text-align: center;
  color: #28c19a;
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
}
.columna {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.c1 {
  grid-column: 1;
  grid-row: 1 / 5;
}
.c2 {
  grid-column: 2;
  grid-row: 1 / 5;
}
.c3 {
  grid-column: 3;
  grid-row: 1 / 5;
}
.circulo-verde {
  border: solid #28c19a;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
}
.texto123 {
  color: #28c19a;
  margin-top: 100px;
  font-size: 4em;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}
.textop {
  color: #28c19a;
  font-size: 1.5em;
  font-family: "Fira Sans", sans-serif;
}
.texto1234 {
  color: #28c19a;
  margin-top: 100px;
  font-size: 4em;
  font-family: "Fira Sans", sans-serif;
}
.cuarto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: -100px;
  background: #28c19a;
}
.cverde {
  grid-column: 1;
  height: 900px;
  background: #28c19a;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.cfoto {
  grid-column: 2;
  height: 900px;
  background: url("../img/pexels-yan-krukov-4457993.jpg");
}
.botonblanco {
  background: #fff;
  width: 30%;
  margin-left: 15%;
  padding: 17px;
  font-family: "Fira Sans", sans-serif;
}
.botonblanco a {
  color: #28c19a;
  text-decoration: none;
}
.fodoblanquito {
  background: #edeeee;
  width: 100%;
  height: 900px;
}
.col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.col1 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 10%;
  grid-column: 1;
  height: 800px;
  background: url("../img/pexels-cottonbro-4324101.jpg");
}
.col2 {
  margin-top: 10%;
  height: 800px;
  grid-column: 2;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.botonverde {
  background: #28c19a;
  width: 30%;
  margin-left: 15%;
  padding: 17px;
  font-family: "Fira Sans", sans-serif;
}
.botonverde a {
  color: #fff;
  text-decoration: none;
}
.tarjeta {
  width: 90%;
  height: 500px;
  border-radius: 20px;
  background: #edeeee;
  margin-left: auto;
  margin-right: auto;
}
.tv {
  color: #28c19a;
  font-size: 2em;
  font-family: "Fira Sans", sans-serif;
}
.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.verde {
  background: #28c19a;
  width: 100%;
  height: 400px;
  margin-top: -100px;
}
.texto-blanco {
  color: #fff;
  font-size: 4em;
  text-align: center;
  font-family: "Fredoka One", cursive;
}
input {
  display: inline;
  position: relative;
  font-size: 20px;
  box-sizing: border-box;
}
input[type="text"] {
  background: #fff;
  border: none;
  width: 600px;
  height: 50px;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
  margin-left: 100px;
}
input[type="submit"] {
  background: #fff;
  border: none;
  height: 50px;
  outline: none;
  padding: 0 25px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  color: #28c19a;
  font-weight: bold;
  left: -5px;
}
.footer{
background: #edeeee;
width: 100%;
height: 300px;
display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.title{
  grid-column: 1 ;
  text-align: center;
}
.about{
  grid-column: 2;
  text-align: center;

}
.services{
  grid-column: 3;
  text-align: center;
}
.follow{
grid-column: 4;
  text-align: center;
}
.h3{
  font-size: 2em;
  color: #28c19a;
  font-family: "Fira Sans", sans-serif;
}
.espacio li{
  list-style-type: none;
}
.v{
  color: #28c19a;
  font-family: "Fira Sans", sans-serif;
  text-indent: 0;
  text-decoration: none;
  display: inline-block;
}